
<div *ngIf = "hero">
    <h2>{{hero.name | uppercase}} Detalles</h2>
    <div><span>Id:</span>{{hero.id}}</div>
    <div>
      <label for="hero-name">Hero Nombre: </label>
      <input id="hero-name"[(ngModel)]="hero.name" placeholder="name">
    </div>
    <div>
      <label for = "hero-edad">Heroe Edad</label>
    <input id="hero-edad" [(ngModel)]="hero.edad" placeholder="Edad">
    
    
    </div>
    
    <div>
      <label for = "Poder">Poderes</label>
    <input id="Poder" [(ngModel)]="hero.superpoder" placeholder="Poder">
    
    
    </div>
    
    <div>
      <label for = "identidad">identidad</label>
    <input id="identidad" [(ngModel)]="hero.identidad" placeholder="identidad">
    
    
    </div>
<div>